body {
    background-color: lightgray;
}

.w3-bar {
    padding: 5px;
}

.w3-bar > .w3-button {
        padding: 8px;
}

.w3-quarter {
    padding-left:5px;
}

.w3-left {
    height: 600px;
    width: 30%;
    position: absolute;
    top: 12%;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.w3-right {
    width: 70%;
    position: absolute;
    top: 12%;
    left:31%;
}

.w3-row-padding {
    padding-left:0px;
    width:100%;
    position: relative;

}

.w3-row-padding > .w3-col {
    width:12%;
    padding-top:10px;
    padding:0px;
    padding-bottom:5px;
    padding-right:5px;

}

#bottomdiv > .w3-button {
    padding-top: 10px;
}

.buttom{
    padding-top:24px;
}

.autocomplete {
    position: relative;

}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: white;
        border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
 }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}


